@use "shared/styles/variables" as vars;

.scrollArea {
  min-width: 0;
  min-height: 0;
}

.scrollX {
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
}

.scrollY {
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

.scrollBOTH {
  overflow: auto;
}
