@use "../../styles/variables" as vars;

.badge {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: vars.$radius-pill;
  background: vars.$color-success-bg;
  color: vars.$color-success-text;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
}

.inactive {
  background: vars.$color-danger-bg;
  color: vars.$color-danger-text;
}
